@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

:root {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #14292a;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1/1;
  width: 39vw;
  padding-top: 20px;
}

.XO {
  box-sizing: border-box;
  display: flex;
  aspect-ratio: 1/1;
  width: 13vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 8.5vw;
  color: #3e9499;
  outline: 0.1px #9aeef3 solid;
  font-weight: 100;
}

.result {
    font-size: 4rem;
    font-weight: 200;
    color: #3e9499;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;

}

.buttons button {
    border: none;
    padding: 10px 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    border-radius: 20px;
    font-weight: 200;
    color: #3e9499;
    background-color: #c0f1f3;
}